<footer>
  <div class="container-fluid">
    <p>Originally brought to you with &#x2764; by <a href="https://sparkfun.com">SparkFun Electronics</a>. Hacked by <a href="http://modernblackhand.com">Modern Black Hand</a> </p>
  </div>
</footer>

