<div class="container">

	<div class="row">
	  <div class="col-sm-10 col-sm-offset-1"> 
	    <h1>Log in: </h1>
	  </div>
	</div><!-- row -->

	<div class="row">
	  <div class="col-sm-8 col-sm-offset-2">

		<form action="/login" method="post">
		  <input name="username" id="username" type="text" placeholder="Your username" />
		  <input name="password" id="password" type="password" placeholder="Your password"/>
		  <input type="submit" />
		</form>

	  </div>

	</div>

</div> <!-- container -->
